.card-custom-shadow {
    background-color: rgba(0, 132, 255, 0.918);
}
.card-custom-shadow {
    max-width: 470px;
    height: auto;
    width: 100%;
    border-radius: 1.2rem;
    border: none;

    box-shadow:
        0 20px 40px rgba(0,0,0,0.12);
}
.avatar-placeholder {
    width: 56px;
    height: 56px;
    background: linear-gradient(135deg, #e0e0e0, #f5f5f5);
    border-radius: 50%;
}
.resumo-card {
    position: relative;
    background-color: rgba(0, 132, 255, 0.918);
    border-radius: 1rem;
    border: none;
    padding: 20px;
    height: 240px;
    width: 100%;

}
.resumo-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    bottom: 12px;
    width: 5px;
    border-radius: 5px;
    background: linear-gradient(
        to bottom,
        orange,
        #1E88C9
    );
}